* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #110038;
    letter-spacing: 0;
}

header {
    background: rgb(46,50,251);
    background: linear-gradient(90deg, rgba(46,50,251,1) 1%, rgba(238,62,254,1) 100%);
    color: #ffffff;
    font-size: 7px;
    font-family: 'ChakraPetch-Regular';
    padding: 7px;
    border-style: solid;
    border-width: 1px;
    border-color: #110038;
}

a {
    text-decoration: none;
    color: #000000;
    font-family: 'ChakraPetch-Regular';
}

#miLogo {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url("../gifOS_UI 3/assets/gifOF_logo_dark.png") no-repeat;
    width: 180px;
    height: 52px;
    padding-left: 180px;
}

.boton {
    padding: 8px 16px;
    background-color: #EE3EFE;
    color: #000000;
    border-style: solid;
    border-width: 1px;
    border-color: #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    font-family: 'ChakraPetch-Regular';
}

#navegacion button:hover {
    border: 1px dotted #110038;
}

#boton2 {
    margin-right: -2px;
}

#boton3 {
    margin-left: -2px;
}

.dropdown {
    display: inline-block;
    font-family: 'ChakraPetch-Regular';
}

.dropdown div {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    transition: .3s;
    padding: 9px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    width: 10.5%;
    font-family: 'ChakraPetch-Regular';
}

.dropdown:hover div {
    visibility: visible;
    opacity: 1;
}

.dropdown div button {
    display: block;
    text-decoration: none;
    padding: 8px;
    color: #000;
    transition: .1s;
    margin-bottom: 6px;
    width: 100%;
    font-family: 'ChakraPetch-Regular';
}

#boton5 {
    margin-bottom: 0px;
}

.dropdown div button:hover {
    background-color: #ffffff;
    color: #110038;
}

#boton4 {
    border: none;
    font-family: 'ChakraPetch-Regular';
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 0;
    line-height: 18px;
    background: #110038;
    box-shadow: none;
    padding: 5px;
}

#navegacion button img {
    transform: rotate(90deg);
}

main {
    display: flex;
    justify-content: space-between;
    margin-top: 5vw;
    margin-bottom: 3vw;
    /* background-color: #ffffff; */
    align-items: center;
}

#logo,
#navegacion {
    padding: 0 10vw;
}

#busqueda {
    background-color: #E6E6E6;
    margin: 0 10vw;
    padding: 0 0 2px 0;
    align-items: center;
    border-style: outset;
}

#buscar {
    background: rgb(46,50,251);
    background: linear-gradient(90deg, rgba(46,50,251,1) 1%, rgba(238,62,254,1) 100%);
    margin: 0px;
    font-family: 'ChakraPetch-Bold';
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding: 2px;
}

#queBuscar {
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    width: 87%;
    height: 35px;
    margin: 9px;
    padding: 5px;
}

#buscador {
    background: #E6E6E6;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    height: 35px;
    width: 9%;
    align-items: center;
    display: inline-flex;
    justify-content: space-evenly;
}

#buscador:focus {
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.dropdownTwo {
    display: inline;
    font-family: 'ChakraPetch-Regular';
}

.dropdownTwo div {
    z-index: 1;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    transition: .3s;
    padding: 9px;
    background: #E6E6E6;
    width: 70%;
    border-style: outset;
}

.dropdownTwo:hover div {
    visibility: visible;
    opacity: 1;
}

.dropdownTwo div button {
    display: block;
    text-decoration: none;
    padding: 8px;
    color: #000;
    transition: .1s;
    margin-bottom: 6px;
    width: 100%;
    font-family: 'ChakraPetch-Regular';
    background: #F0F0F0;
    border-style: solid;
    border-width: 1px;
    border-color: #808080;
    text-align: left;
}
.dropdownTwo div button:hover {
    background-color: #B4B4B4;
    color: #110038;
    border-style: dotted;
    border-width: 2px;
}
.predefinido{
    margin: 3vw 10vw;
}
.sugerir,
.resultados{
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
    padding: 5px;
    font-family: 'ChakraPetch-Regular';
    font-size: 14px;
    color: #110038;
    letter-spacing: 0;
}
#gifs{
    display: flex;
    flex-wrap: wrap;
}

.tendencias{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10px;
}
.tendencias figure{
    margin: 1vw;
}
.tendencias figure img{
    width: 230px;
    height: 250px;
}
.searchTitle{
    display: none;
}
#gifs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10px;
}
#gifs figure{
    margin: 1vw;
}
#gifs figure img{
    width: 230px;
    height: 250px;
}
#flecha{
    transform: translateY(-7px);
}
#busquedaCrear{
    background-color: #E6E6E6;
    margin: 0 27vw;
    padding: 0 0 2px 0;
    align-items: center;
    border-style: outset;
}